[Unit]
Description=Sonora Service
After=network.target

[Service]
WorkingDirectory=/home/pi/tv-remote-control
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target